
<!-- <p> London Weather Summary: {{ vm.weatherSummary }} </p> -->

<section class="hero is-danger is-medium">
  <div class="hero-body height-hero">
    <div class="container has-text-centered">
      <h1 class="title">
        EventApp
      </h1>
      <div class="box">
        <form class="search-box" ng-submit="vm.getEvents()">
          <input ng-model="vm.city" location="vm.location" class="input-box" type="text" placeholder="Search by City" google-autocomplete>
        </form>
      </div>
      <!-- Will be changed to radius -->
      <!-- <input type="checkbox" id="abv" ng-model="vm.usePrice">
      <label for="price">Price</label>
      <input type="range" model-min="min" model-max="max" orientation="vertical" ng-model="vm.price" decimal-places="3" min="1" max="10" ng-disabled="!vm.usePrice"> -->
    </div>
  </div>
</section>


<div class="container">
  <div class="columns is-multiline">
    <div ng-repeat="group in vm.filtered" class="column is-three-fifths
    is-offset-one-fifth">
      <div class="box index-events">
        <div class="index-events__date">
          <div class="index-events__date__top">
            <p>{{ group.local_date | date:'MMM'}}</p>
          </div>
          <div class="index-events__date__bottom">
            <p>{{ group.local_date | date:'dd'}}</p>
          </div>
        </div>
        <div class="index-events-details">
          <a ui-sref="groupsShow({ groupName: group.group.urlname, id: group.id })"><h2 class="title is-4">{{ group.name }}</h2></a>
          <h4 class="subtitle is-5">{{ group.venue.city }}</h4>
          <button ng-click="vm.joinGroup(group)" type="button" class="button is-danger" ng-if="!vm.isInGroup(group)">Join Group</button>
          <button ng-click="vm.leaveGroup(group)" type="button" class="button is-danger" ng-if="vm.isInGroup(group)">Leave Group</button>
          <button ui-sref="groupsShow({ groupName: group.group.urlname, id: group.id })" type="button" class="button is-danger">View Event</button>
        </div>
      </div>
    </div>
  </div>
</div>
