<form class="form-inline">
  <input ng-model="vm.query" class="form-control mr-sm-2" type="text" placeholder="Search by Group Name">
  <button id="searchButtonGroupIndex" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<div class="pure-g filters">
  <div class="pure-u-1 pure-u-sm-1-2">
    <div class="l-box">
      <input type="checkbox" id="abv" ng-model="vm.usePrice">
      <label for="price">Price</label>
      <input type="range" model-min="min" model-max="max" orientation="vertical" ng-model="vm.price" decimal-places="3" min="1" max="10" ng-disabled="!vm.usePrice">
    </div>
  </div>
</div>

<p> London Weather Summary: {{ vm.weatherSummary }} </p>

<div class="container">
  <div class="columns is-multiline">
    <div ng-repeat="group in vm.filtered" class="column is-half
is-offset-one-quarter">
      <div class="box">
        <a ui-sref="groupsShow({ groupName: group.group.urlname, id: group.id })"><h2 class="title is-4">{{ group.name }}</h2></a>
        <h4 class="subtitle is-5">{{ group.venue.name }}</h4>
      <button ng-click="vm.joinGroup()" type="button" class="button">Join Group</button>
      <!-- <p ng-bind-html="group.description"></p> -->
      </div>
    </div>
  </div>
</div>

<!-- SEEDS DATA -->
<!-- <div class="container is-fluid">
  <div class="columns is-multiline">
    <div ng-repeat="group in vm.filtered" class="column is-one-third">
      <a ui-sref="groupsShow({ id: group.id })"><strong>{{ group.name }}</strong> </a>
      <img src= "{{ group.image }}">
      <p> Price: {{ group.price }} </p>
      <p> Date: {{ group.local_date }} </p>
      <p> Time: {{ group.local_time }} </p>
    </div>
  </div>
</div> -->
