
<!-- <p> London Weather Summary: {{ vm.weatherSummary }} </p> -->

<section class="hero is-danger is-small">
  <div class="hero-body height-hero">
    <div class="container has-text-centered">
      <h1 class="title">
        EventApp
      </h1>
      <div class="box">
        <form class="search-box">
          <input ng-model="vm.query" class="input-box" type="text" placeholder="Search by City">
        </form>
      </div>
      <form ng-submit="getEventsProxy()">
            <div class="field">
              <label class="label">Enter a Location</label>
              <div class="control">
                <input class="input" type="text" ng-model="vm.location" google-autocomplete>
              </div>
            </div>
            {{ vm.location }}
            <div class="control">
              <button class="button">Search Place</button>
            </div>
          </form>
      <!-- Will be changed to radius -->
      <input type="checkbox" id="abv" ng-model="vm.usePrice">
      <label for="price">Price</label>
      <input type="range" model-min="min" model-max="max" orientation="vertical" ng-model="vm.price" decimal-places="3" min="1" max="10" ng-disabled="!vm.usePrice">
    </div>
  </div>
</section>


<div class="container">
  <div class="columns is-multiline">
    <div ng-repeat="group in vm.filtered" class="column is-three-fifths
is-offset-one-fifth">
      <div class="box index-events">
        <a ui-sref="groupsShow({ groupName: group.group.urlname, id: group.id })"><h2 class="title is-4">{{ group.name }}</h2></a>
        <h4 class="subtitle is-5">{{ group.venue.name }}</h4>
        <!-- ADDING CALENDAR ICON http://cssdeck.com/labs/calendar-icon
         <time datetime="{{vm.eventInformation.local_date}}" class="icon">
          <em>Saturday</em>
          <strong>September</strong>
          <span>20</span>
        </time> -->
      <button ng-click="vm.joinGroup(group)" type="button" class="button is-danger" ng-if="!vm.isInGroup(group)">Join Group</button>
      <button ng-click="vm.leaveGroup(group)" type="button" class="button is-danger" ng-if="vm.isInGroup(group)">Leave Group</button>
      <button ui-sref="groupsShow({ groupName: group.group.urlname, id: group.id })" type="button" class="button is-danger">View Event</button>
      </div>
    </div>
  </div>
</div>
