<div class="container is-fluid">
  <ul class="columns is-multiline">
    <li class="column is-half">
      <h3 class="title is-1">{{ vm.eventInformation.name }}</h3>
      <!-- <img src="{{ vm.eventInformation.image }}" alt="Event image"> -->
      <p>Fee: £ {{ vm.eventInformation.fee }} </p>
      <p>Date: {{ vm.eventInformation.local_date }} </p>
      <p>Time: {{ vm.eventInformation.local_time }} </p>
      <p>Venue: {{ vm.eventInformation.venue_name }} </p>
      <p>Address: {{ vm.eventInformation.address_1 }} </p>
      <p>City: {{ vm.eventInformation.city }} </p>
      <p>Link: {{ vm.eventInformation.link }} </p>
      <p>Description: <span ng-bind-html="vm.eventInformation.description"></span></p>
      <p>Time: {{ vm.eventInformation.local_time }} </p>


      <!-- <button class="button is-black" ui-sref="groupsEdit({ id: vm.eventInformation.id })">Edit</button> -->
      <!-- <button class="button is-black" ng-click="vm.delete()">Delete</button> -->
    </li>
  </ul>
</div>
