

<div class="container">

</div>
<div class="container user-groups">
  <div class="columns">
    <div class="column is-one-third">
      <h1 class="title">{{ vm.user.username }}'s Profile</h1>
      <img src ="{{ vm.user.image }}">

      <p><strong>Account Information</strong></p>
    </div>
    <p ng-if="!vm.user.groups.length">0 groups</p>
    <div class="column is-two-third">
      <div class="columns is-multiline">
        <div ng-repeat="group in vm.user.groups" class="column is-one-quarter single-events">
          <a ui-sref="groupsShow({ groupName: group.urlname, id: group.meetupId })"><p class="profile-group-name">{{ group.eventName }}</p></a>
        </div>
      </div>
    </div>
  </div>
</div>
