<div class="container">
  <div class="column">
    <h1 class="title">{{ vm.user.username }}'s Profile</h1>
    <h3 class="subtitle">Groups</h3>
    <p ng-if="!vm.user.groups.length">0 groups</p>
  </div>

  <div class="container">
    <div class="columns is-multiline">
    <div ng-repeat="group in vm.user.groups" class="column is-one-quarter single-events">
      <a ui-sref="groupsShow({ groupName: group.group.urlname, id: group.id })"><p class="profile-group-name">{{ group.eventName }}</p></a>
    </div>
  </div>
</div>
