<div class="container user-groups">
  <div class="columns">
    <div class="column is-one-third">
      <h1 class="title">{{ vm.user.username }}'s Profile</h1>
      <img src ="{{ vm.user.image }}">
      <p><strong>Account Information</strong></p>
    </div>
    <p ng-if="!vm.user.groups.length">0 groups</p>

    <div class="column is-two-third">
      <div class="columns is-multiline">
        <div ng-repeat="group in vm.user.groups" class="single-events column is-12">
          <div class="box index-events">
            <div class="index-events__date">
              <div class="index-events__date__top">
                <p>{{ group.localDate | date:'MMM'}}</p>
              </div>
              <div class="index-events__date__bottom">
                <p>{{ group.localDate | date:'dd'}}</p>
              </div>
            </div>
            <div class="index-events-details">
              <a ui-sref="groupsShow({ groupName: group.urlname, id: group.meetupId })"><p class="profile-group-name">{{ group.eventName }}</p></a>
              <h4 class="subtitle is-5">{{ group.city }}</h4>
              <button ui-sref="groupsShow({ groupName: group.urlname, id: group.meetupId })" type="button" class="button is-danger">View Event</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
