<section class="hero is-danger homepage-display" >
  <div class="hero-body hero-padding homepage-image">
    <div class="container has-text-centered" id="splashMessage">
      <h1 class="title">
        Meet up, explore, learn, socialise
      </h1>
      <button ui-sref="groupsIndex" type="button" ng-if="main.isAuthenticated()" class="button is-dark">View Events</button>
      <button ui-sref="register" type="button" ng-if="!main.isAuthenticated()" class="button is-dark">Sign Up</button>
    </div>
  </div>
</section>
