<!--
<img class="home" src="https://www.metro.us/sites/default/files/styles/normal_article/public/main/articles/2017/12/15/champagne-calories.jpg" alt="homepage"> -->

<section class="hero is-danger index" >
  <div class="hero-body hero-padding homepage-image">
    <div class="container has-text-centered" id="splashMessage">
      <h1 class="title">
        Meet up, explore, learn, socialise
      </h1>
      <button ui-sref="groupsIndex" type="button" ng-if="main.isAuthenticated()" class="button is-dark">View Events</button>
    </div>
  </div>
</section>
