<section class="section">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <h1 class="title">Register</h1>
      <form ng-submit="vm.submit()" name="vm.registerForm">
        <div class="field">
          <label class="label" for="email">Username</label>
          <p class="control">
            <input class="input" type="text" name="username" id="username" ng-model="vm.user.username" required>
            <div ng-if="vm.registerForm.username.$touched && !vm.registerForm.username.$valid" ng-messages="vm.registerForm.username.$error" role="alert">
              <div ng-message="required">Enter Username!</div>
            </div>
          </p>
        </div>
        <div class="field">
          <label class="label" for="email">First Name</label>
          <p class="control">
            <input class="input" type="text" name="firstname" id="firstname" ng-model="vm.user.firstname" required>
            <div ng-if="vm.registerForm.firstname.$touched && !vm.registerForm.firstname.$valid" ng-messages="vm.registerForm.firstname.$error" role="alert">
              <div ng-message="required">Enter First Name!</div>
            </div>
          </p>
        </div>
        <div class="field">
          <label class="label" for="email">Last Name</label>
          <p class="control">
            <input class="input" type="text" name="lastname" id="lastname" ng-model="vm.user.lastname" required>
            <div ng-if="vm.registerForm.lastname.$touched && !vm.registerForm.lastname.$valid" ng-messages="vm.registerForm.lastname.$error" role="alert">
              <div ng-message="required">Enter Last Name!</div>
            </div>
          </p>
        </div>
        <div class="field">
          <label class="label" for="email">Email</label>
          <p class="control">
            <input class="input" type="text" name="email" id="email" ng-model="vm.user.email" required>
            <div ng-if="vm.registerForm.email.$touched && !vm.registerForm.email.$valid" ng-messages="vm.registerForm.email.$error" role="alert">
              <div ng-message="required">Enter Email!</div>
            </div>
          </p>
        </div>
        <div class="field">
          <label class="label" for="country">Country</label>
          <p class="control">
            <input class="input" type="text" name="country" id="country" ng-model="vm.user.country" required>
            <div ng-if="vm.registerForm.lastname.$touched && !vm.registerForm.lastname.$valid" ng-messages="vm.registerForm.lastname.$error" role="alert">
              <div ng-message="required">Country!</div>
            </div>
          </p>
        </div>
        <div class="field">
          <label class="label" for="password">Password</label>
          <p class="control">
            <input class="input" type="password" name="password" id="password" ng-model="vm.user.password" required>
            <div ng-if="vm.registerForm.password.$touched && !vm.registerForm.password.$valid" ng-messages="vm.registerForm.password.$error" role="alert">
              <div ng-message="required">Enter Password!</div>
            </div>
          </p>
        </div>
        <div class="field">
          <label class="label" for="passwordConfirmation">Password Confirmation</label>
          <p class="control">
            <input class="input" type="password" name="passwordConfirmation" id="passwordConfirmation" ng-model="vm.user.passwordConfirmation" required>
            <div ng-if="vm.registerForm.passwordConfirmation.$touched && !vm.registerForm.passwordConfirmation.$valid" ng-messages="vm.registerForm.passwordConfirmation.$error" role="alert">
              <div ng-message="required">Enter Password Confirmation!</div>
            </div>
          </p>
        </div>

        <!-- //Image Upload -->
        <div class="field">
          <label class="label">Profile Picture</label>
          <div class="control">
            <div class="file">
              <label class="file-label">
                <input class="file-input" type="file" ng-model="vm.user.image" upload-image>
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fa fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Choose a file…
                  </span>
                </span>
              </label>
            </div>
          </div>
          <div class="field" ng-if="vm.user.image">
            <label class="label">Profile Picture Preview</label>
            <div class="control">
              <figure class="image is-128x128">
                <img src="{{ vm.user.image }}">
              </figure>

            </div>

          </div>
        </div>

        <div class="field">
          <p class="control">
            <input type="submit" class="button is-danger is-fullwidth" value="Register">
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
