<!DOCTYPE html>
<html ng-app="eventApp">
<head>
  <title>WDI Group Project</title>
  <base href="/">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnUS24Ib3egf122RmvySE4gL9Zg1IgIss&libraries=places&language=en&v=3">
  </script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main" ng-class="main.pageName">


    <nav class="navbar is-danger">
      <div class="navbar-brand">
        <a class="navbar-item" ui-sref="home">
          <p>EventApp</p>
        </a>
        <div class="navbar-burger burger" ng-click="main. burgerMenuOpen = !main.burgerMenuOpen" ng-class="{ 'is-active': main.burgerMenuOpen }" data-target="navbarExampleTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="navbarMenu" class="navbar-menu" ng-class="{ 'is-active': main.burgerMenuOpen }">
        <div class="navbar-end">
          <a class="navbar-item hover-change" ui-sref="home">
            <span class="icon">
              <i class="fa fa-home"></i>
            </span>
            Home
          </a>
          <a class="navbar-item hover-change" ui-sref="groupsIndex">
            <span class="icon">
            <i class="fa fa-calendar"></i>
            </span>
            Events
          </a>
          <a class="navbar-item hover-change" ui-sref="usersShow({ id: main.currentUserId })" ng-if="main.isAuthenticated()">
            <span class="icon">
            <i class="fa fa-user"></i>
            </span>
            Profile
          </a>
          <a class="navbar-item hover-change" ui-sref="login" ng-if="!main.isAuthenticated()">
            <span class="icon">
            <i class="fa fa-sign-in-alt"></i>
            </span>
            Login
          </a>
          <a class="navbar-item hover-change" ui-sref="register" ng-if="!main.isAuthenticated()">
            <span class="icon">
            <i class="fa fa-user-plus"></i>
            </span>
            Register
          </a>
          <a class="navbar-item hover-change" ui-sref="/" ng-click="main.logout()" ng-if="main.isAuthenticated()">
            <span class="icon">
            <i class="fa fa-sign-out-alt"></i>
            </span>
            Logout
          </a>
          </div>
        </div>
      </div>
    </nav>

    <div class="notification" ng-if="main.message">{{ main.message }}</div>

    <main ui-view></main>

</body>
</html>
